html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* GLOBAL STYLES */
:root {
  --primary-color: #423e3e;
  --secondary-color: #ccc;
  --primary-btn-color: #3452eb;
  --secondary-btn-color: #098740;
  --error-color: #e74c3c;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

button:hover {
  cursor: pointer;
}

select {
  background-color: var(--secondary-color);
  font-size: 13px;
  height: 30px;
  margin: 10px 0 50px;
}

/* HEADER STYLES */
header {
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 70px;
  width: 100%;
}

.header__title {
  text-transform: uppercase;
}

.header__home {
  margin-left: 30px;
}

.header__company {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: none;
}

.header__container a,
.footer__container a {
  color: #fff;
  text-decoration: none;
}

.header__cart-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.header__cart {
  font-size: 25px;
}

.header__cart-title {
  margin: auto 10px;
}

/* HOMEPAGE ARTICLES STYLE */
.articles__container {
  display: grid;
  gap: 30px;
  grid-template-rows: repeat(auto, 1fr);
  height: auto;
  margin: 60px 120px;
  min-height: 660px;
}

.article__container {
  background-color: #fff;
  border: 1px solid var(--primary-color);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  color: #000;
  display: grid;
  grid-template-areas: "image texts button";
  grid-template-columns: 2fr 4fr 1fr;
  padding: 20px 30px;
  text-decoration: none;
}

.article__container img {
  grid-area: image;
  height: 100%;
  width: 100%;
}

.article__container div {
  display: grid;
  grid-area: texts;
  grid-template-rows: repeat(3, 1fr);
  margin-left: 50px;
}

.article__container h2 {
  font-size: 18px;
  font-weight: bold;
}

.article__container h3 {
  color: var(--primary-color);
  font-size: 23px;
  font-weight: bold;
}

.article__container h4 {
  margin: 20px 0;
}

.article__container button {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 15px;
  grid-area: button;
  height: 50px;
  margin: auto 0;
  text-transform: uppercase;
  padding: 10px 20px;
}

/* FOOTER STYLES */
footer {
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 60px;
  width: 100%;
}

.footer__title {
  text-transform: uppercase;
}

.footer__home {
  margin-left: 30px;
}

.footer__container:nth-of-type(1) {
  display: flex;
}

.footer__container:nth-of-type(2) {
  text-align: center;
}

.footer__link {
  font-size: 27px;
  margin-right: 10px;
}

.footer__container:last-child {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

/* PRODUCT PAGE */
.product__container {
  display: grid;
  grid-template-areas: "img content cart";
  grid-template-columns: 33% 46% 20%;
  height: auto;
  margin: 80px 30px 30px;
  min-height: 550px;
}

.product__img-container,
.product__text-container,
.product__cart-container {
  padding: 0 30px;
}

.product__img-container {
  grid-area: img;
}

.product__text-container {
  grid-area: content;
}

.product__cart-container {
  grid-area: cart;
}

.product__img {
  height: 400px;
  width: 100%;
}

.product__name {
  font-size: 24px;
  font-weight: 900;
  margin: 5px 0 59px;
  text-align: center;
}

.product__vernis-text {
  font-size: 18px;
}

.product__vernis-select {
  width: 200px;
}

.product__cart-container {
  align-items: center;
  border: 1px solid var(--secondary-color);
  display: flex;
  height: 400px;
  flex-direction: column;
}

.product__price {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: bold;
  margin: 5px 0 50px;
}

.product__quantity-text {
  font-size: 18px;
}

.product__quantity-select {
  width: 50px;
}

.product__total-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 40px;
}

.product__total-price span {
  color: var(--primary-color);
  font-size: 20px;
  margin-left: 5px;
}

.product__btn {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 14px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px 15px;
  text-transform: uppercase;
}

.btn__order-now {
  background-color: var(--secondary-btn-color);
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.btn__order-now.active {
  opacity: 1;
}

/* PANIER PAGE */
.content__container {
  height: auto;
  margin: 60px 80px 40px;
  min-height: 550px;
}

.content__container a {
  text-decoration: none;
}

.panier__title {
  font-size: 18px;
  font-weight: bold;
  margin: 30px 30px 40px;
}

.panier__title:nth-of-type(2) {
  margin: 40px 30px;
}

.panier__items-container {
  margin: 0 auto;
  width: 70%;
}

.panier__item-container {
  border-bottom: 1px solid var(--secondary-color);
  border-left: 1px solid var(--secondary-color);
  border-right: 1px solid var(--secondary-color);
  display: grid;
  grid-template-columns: 9fr 1fr;
  padding: 15px;
}

.panier__item-container:first-child {
  border: 1px solid var(--secondary-color);
}

.total-container {
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 30px 15px;
  text-transform: uppercase;
}

.panier__item-name span {
  margin-left: 25px;
}

.panier__item-price {
  color: var(--primary-color);
}

.form {
  border: 1px solid var(--secondary-color);
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  width: 50%;
}

.form-control {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-control.success input {
  border: 2px solid var(--secondary-btn-color);
}

.form-control.error input {
  border: 2px solid var(--error-color);
}

.form-control.error small {
  visibility: visible;
}

.form-control input {
  font-size: 14px;
  height: 25px;
  margin-top: 10px;
  right: 0%;
  position: relative;
  text-align: center;
  width: 200px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

small {
  color: var(--error-color);
  font-size: 14px;
  margin: 5px 0 0;
  visibility: hidden;
}

.panier__validate-btn {
  background-color: var(--secondary-btn-color);
  color: #fff;
  display: block;
  font-size: 16px;
  margin: 20px auto;
  padding: 15px;
  text-transform: uppercase;
}

/* CONFIRMATION PAGE */
.confirmation__container {
  height: auto;
  margin: 100px 30px 30px;
  min-height: 530px;
  text-align: center;
}

.confirmation__container p {
  font-size: 18px;
  margin: 30px;
}

.confirmation__container p span {
  font-weight: bold;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  .product__cart-container {
    padding: 0;
  }
}

@media (max-width: 1100px) {
  .article__container div {
    display: grid;
    grid-template-rows: 1fr;
    margin-left: 50px;
  }

  .article__container h2 {
    margin-bottom: 15px;
  }

  .article__container button {
    font-size: 13px;
    height: 45px;
    margin: auto 0 auto 10px;
    padding: 5px 10px;
  }

  .product__btn {
    padding: 5px 15px;
  }
}

@media (max-width: 950px) {
  /* HOMEPAGE */
  .articles__container {
    margin: 60px 80px;
  }

  /* PRODUCT PAGE */
  .product__container {
    grid-template-columns: 33% 40% 26%;
    margin: 80px 15px 30px;
    min-height: 550px;
  }

  .product__text-container {
    padding: 0 20px;
  }

  .product__img {
    height: 60%;
  }

  .product__name {
    font-size: 20px;
  }

  .product__price {
    font-size: 26px;
  }

  .product__vernis-text,
  .product__quantity-text,
  .product__total-price {
    font-size: 16px;
  }

  .product__total-price span {
    font-size: 18px;
  }

  /* CART PAGE */
  .form {
    width: 70%;
  }
}

@media (max-width: 700px) {
  /* HOMEPAGE */
  .articles__container {
    margin: 60px 40px;
  }

  .article__container {
    grid-template-areas:
      "image texts"
      ". button";
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 3fr 1fr;
  }

  .article__container div {
    text-align: center;
  }

  .article__container img {
    width: 120%;
  }

  .article__container button {
    margin-top: 15px;
    place-self: center center;
    width: 40%;
  }

  /* PRODUCT PAGE */
  .product__container {
    grid-template-areas:
      "img cart"
      "content .";
    grid-template-columns: 67% 33%;
    grid-template-rows: 37% 26% 37%;
  }

  .product__img {
    height: 100%;
  }

  .product__img-container,
  .product__text-container {
    padding: 0 30px 0;
  }

  .product__text-container {
    margin-top: 30px;
    text-align: center;
  }

  .product__price {
    font-size: 24px;
  }

  .product__btn {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* CART PAGE */
  .panier__items-container {
    width: 100%;
  }

  .form {
    width: 100%;
  }

  .panier__validate-btn {
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .header__company {
    font-size: 20px;
    text-align: start;
  }

  .header__cart-container {
    justify-content: flex-start;
    margin: 0 20px 0 15px;
  }

  .header__cart {
    font-size: 25px;
  }

  .header__cart-title {
    margin: auto 5px;
  }

  /* HOMEPAGE */
  .articles__container {
    margin: 40px 40px;
  }

  .article__container {
    grid-template-areas:
      "image"
      "texts"
      "button";
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3fr 1fr;
  }

  .article__container div {
    margin-left: 0;
  }

  .article__container img {
    width: 100%;
  }

  .article__container h2 {
    margin-top: 15px;
  }

  .article__container h4 {
    text-align: left;
  }

  .article__container button {
    margin: 0;
  }

  /* PRODUCT PAGE */
  .product__container {
    grid-template-areas:
      "img"
      "content"
      "cart";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 50px 25px 30px;
  }

  .product__text-container {
    text-align: center;
  }

  .product__name {
    margin: 5px 0 20px;
  }

  select {
    font-size: 11px;
    margin: 10px 0 20px;
  }

  .product__cart-container {
    height: 300px;
    margin-top: 30px;
    place-self: start center;
    width: 70%;
  }

  .product__price {
    margin: 5px 0 20px;
  }

  .product__btn {
    font-size: 12px;
  }

  /* CART PAGE */
  .content__container {
    margin: 60px 60px 40px;
  }
}

@media (max-width: 440px) {
  header {
    grid-template-columns: 5fr 1fr 5fr;
  }

  .header__home,
  .header__cart-container {
    margin-left: 20px;
  }

  .header__company {
    display: none;
  }

  .header__cart-container {
    justify-content: flex-start;
    margin-right: 0;
  }

  .header__cart {
    font-size: 25px;
  }

  .header__cart-title {
    margin: auto 5px;
  }

  .article__container {
    padding: 20px 20px 10px;
  }

  .article__container img {
    height: 90%;
  }

  .article__container button {
    width: 60%;
  }

  .footer__link {
    margin-right: 5px;
  }

  /* PRODUCT PAGE */
  .product__name {
    font-size: 18px;
  }

  .product__vernis-text,
  .product__details {
    font-size: 14px;
  }

  .product__vernis-select {
    width: 150px;
  }

  .product__price {
    font-size: 22px;
  }

  /* CART PAGE */
  .content__container {
    margin: 60px 30px 40px;
  }

  .panier__title {
    margin: 30px 0 40px;
    text-align: center;
  }
}
